body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #3b82f6;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  background: #020617;
  padding: 20px;
}

.main {
  margin-left: 220px;
  padding: 20px;
}

.box {
  background: #1e293b;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  }
